
/* 리셋 */
* { margin: 0;padding: 0;}
img {width: 100%}
li {list-style: none}
a {text-decoration: none ; color: #666}


/* 레이아웃 */
#wrap { width: 100%;}
.container {width: 1000px; margin: 0 auto;}

.header {overflow: hidden; margin-bottom: 15px; }
.banner { }
.content1 {overflow: hidden; }
.content2 {overflow: hidden; margin-bottom: 15px; }
.footer {overflow: hidden; background: #222; margin-bottom: 15px}



.header h1 {float: left; }
.header h1 img {width: 100px; }
.header nav {float:right; margin: 10px 20px 0 20px }
.header ul { }
.header li {display: inline; font-size: 20px; font-weight: bold; padding: 10px; }

.banner {margin-bottom: 15px;}

.content1 .sb {overflow: hidden;;width: 49%; margin-right: 2%; background: #999; float: left;}
.content1 .sb h3 {padding: 15px;}
.sb img {width: 80px; float: right; padding: 0 30px 30px 0;}
.sb p {padding: 15px;}
.sb .more {padding: 15px;color: #111; font-weight: bold;}
.sb h4 { float: left;}
.sb h4 img{ width: 25px; padding-left: 5px;}
.content1 .sb1 {width: 49%; margin-right: 0%; background: #999; float: right;}
.content1 .sb1 h3 {padding: 15px;}
.sb1 img {width: 80px; float: right; padding: 0 30px 30px 0;}
.sb1 p {padding: 15px;}
.sb1 .more {padding: 15px; color: #111; font-weight: bold}
.sb1 .more p {font-size: 10px; color: #666;}
.sb1 h4{float: left;}
.sb1 h4 img{ width: 35px; padding-left: 5px;}


.content2 h2 {padding: 15px 0 15px 0 }
.content2 em {color: #666; }
.content2 ul { }
.content2 li {width: 32.6%; margin-right: 1%; float: left;;}
.content2 li:last-child {margin-right: 0%; }
.content2 span {color: #666;}
.content2 li img:last-child {width: 40px; float: right;}

.footer h2 {float: left; }
.footer h2 img {width: 100px; padding: 30px; }
.footer nav {float: right;}
.footer ul { }
.footer li {color: #fff; display: inline-block; margin-bottom: 15px; padding: 20px; }
.footer p {color: #999;}