/* 레이아웃 */
#header {background: url(../img/header_bg.jpg); }

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; background-color: rgba(0,0,0,0.3); }

/* 헤더 */
.header {height: 327px; }
.header .header-menu {text-align: right; }
.header .header-menu a {color: #fff; font-family: 'Abel', sans-serif; padding: 8px 0 6px 10px; display: inline-block; transition: color 0.3s;}
.header .header-menu a:hover {color: #ccc; text-decoration: underline;}