/* 레이아웃 */
body {background: url(../img/header_bg.jpg) repeat-x center top;  }
#header { }
#nav {background-color: #f6fdff; display: none;}
#title {background-color: #eaf7fd; }
#contents .container {position: relative ; border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb}
#cont-left {float: left; width: 250px;  }
#cont-center {overflow: hidden; margin-right: 250px; border-right: 1px solid #dbdbdb; border-left: 1px solid #dbdbdb ; min-height: 1300px;}
#cont-right {position: absolute; right: 0 ;top: 0 ;width: 250px; }
#footer {border-top: 1px solid #dbdbdb;}

/* 컨테이너 */
.container {width: 1200px; margin: 0 auto; background-color: rgba(0,0,0,0.0); }

/* 헤더 */
.header {height: 327px; }
.header .header-menu {text-align: right; }
.header .header-menu a {color: #fff; font-family: 'Abel', sans-serif; padding: 8px 0 6px 10px; display: inline-block; transition: color 0.3s;}
.header .header-menu a:hover {color: #ccc; text-decoration: underline;}

.header .header-tit {text-align: center; font-family:'Abel' ;margin-top: 55px;}
.header .header-tit h1{background: #51b0dc ;color: #fff;font-size: 30px; display: inline-block; padding: 5px 30px;letter-spacing: 2px; transition: box-shadow 0.9s }
.header .header-tit h1:hover { box-shadow: inset -250px -100px 5px 0 #257fac, inset 250px 100px 5px 0 #257fac;
}
.header .header-tit a {color: #fff ; background: #4a9abf ; display: inline-block; padding: 10px 20px ; margin-top: -7px; transition: box-shadow 0.9s; }
.header .header-tit a:hover {box-shadow: inset 0 0 0 5px rgba(75,154,191,0.9), inset 0 0 0 100px rgba(0,0,0,0.1)}   

.header .header-icon {text-align: center; margin-top: 40px }
.header .header-icon li {display: inline; }
.header .header-icon a {width: 60px;height: 60px;display: inline-block ; background-color: #3192bf; color: #fff; font-size: 35px; border-radius: 50%; line-height: 60px; transition: all 0.3s; position: relative;} 
.header .header-icon a:hover {box-shadow: 0 0 0 3px rgba(75,154,191,0.9) inset,
0 0 0 100px rgba(0,0,0,0.1) inset;}


.header .header-icon a span {position: absolute; left: 50%; top: -40px; font-size: 12px; transform: translateX(-50%); background-color: #3192bf; line-height: 1.6; padding: 3px 6px ; border-radius: 6px 0; opacity: 0; transition: 0.3s;}

.header .header-icon a span::before { 
    content: '';
    position: absolute;
    left: 50%; bottom: -5px;
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    margin-left: -5px;
}

.header .header-icon a:hover span { opacity: 1; top: -33px;}


/* 전체 메뉴 */
.nav {overflow: hidden; padding: 25px 0;}
.nav > div {float: left; width: 40%;}
.nav > div:last-of-type{width: 20%;}
.nav > div h3 {font-size: 18px; margin-bottom: 4px; color: #25a2d0; font-weight: bold;}
.nav > div ul {padding: 10px;overflow: hidden; }
.nav > div li {float: left; width: 50%; position: relative; padding-left: 8px; box-sizing: border-box;}
.nav > div:last-of-type li { width: 100%;}
.nav > div li::before{
    content: '';    
    position: absolute; left: 0; top: 8px;
    width: 3px; height: 3px;
    background-color: #25a2d0;
    
}
.nav > div li a {position: relative; }
.nav > div li a::after{
    content: '';
    width: 0; height: 1px;
    background-color: #25a2d0;
    position: absolute; left: 0 ; bottom: 0;
    transition: all .2s;
 }
 .nav > div li:hover a::after {width: 100%;}


 /* 타이틀 */
 .title {text-align: center; position: relative; } 
 .title h2 {font-family: "Nanum Brush Script";font-size: 39px;color: #0093bd; padding: 5px 0 ;}
 .title .btn {
     position: absolute; right: 0 ;top: 5px;
     width: 60px; height: 60px;
    font-size: 35px; line-height: 60px; background-color: #3192bf;
    color: #fff ;border-radius: 50%; 
    transition: all 0.3s}
 .title .btn:hover {box-shadow: 0 0 0 3px rgba(75,154,191,0.9) inset, 0 0 0 100px rgba(0,0,0,0.1) inset; color: #8068a3; }




 /* 컨텐츠 영역 */
 .column { padding: 15px ; border-bottom: 1px solid #dbdbdb;}
 .column .col-tit {font-size: 20px; color: #2f7fa6; padding-bottom: 5px;}
 .column .col-desc {
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 15px; margin-bottom: 15px;
    color: #878787; line-height: 18px;}
 .column.col1 { }
 .column.col2 { }
 .column.col3 { border-bottom: 0px;}
 .column.col4 { }
 .column.col5 { }
 .column.col6 { border-bottom: 0px;}
 .column.col7 {}
 .column.col8 { }
 .column.col9 { border-bottom: 0px;}


  /* .column.col8 .front {
    transform: rotatey(0);
    transition: transform 0.6s ease;
    backface-visibility: hidden;
    position:absolute; left: 0; top: 0; z-index: 10
    
   }
   .column.col8 .front:hover { 
    transform: rotatey(180deg);
   }
  .column.col8 .back {
    transform: rotatey(-180deg);
    transition: transform 0.6s ease;
    position:absolute; left: 0; top: 0;
   }
   .column.col8 .back:hover{
    transform: rotatey(0deg);   
   } */

 /* 메뉴 */
.menu {}
.menu li {position: relative;}
.menu li a {
    font-size: 16px; text-transform: uppercase; color: #878787;
    border-bottom: 1px solid #dbdbdb;
    padding: 10px; display: block;
    transition:
    box-shadow 0.34s ease, background 0.34s ease, color 0.3s;
 }
.menu li a i {position: absolute; top: 16px; right: 10px; font-size: 12px; }

.menu li a:hover{
    box-shadow: inset 180px 0 0 0 rgba(36,130,174,0.7);
    color: #fff;
    background: rgba(36,130,174,0.9)
}


/* 게시판1 */
.notice1 {position: relative; }
.notice1 h5 {padding-bottom: 5px; color: #2f7fa6; font-size: 15px; font-weight: bold; }
.notice1 li { overflow: hidden;white-space: nowrap; text-overflow: ellipsis; position: relative; padding-left: 8px;}
.notice1 li::before {
    content: '';
    width: 3px; height: 3px;
    background: #2f7fa6;
    position: absolute; left: 0; top: 8px;
 }
.notice1 a.more {position: absolute; right: 0; top: 2px; font-size: 10px; text-transform: uppercase;}

/* 게시판2 */
.notice2 {position: relative; margin-top: 15px;}
.notice2 h5 {padding-bottom: 5px; color: #2f7fa6; font-size: 15px; font-weight: bold; }
.notice2 li {
    position: relative; padding-left: 8px;
    overflow: hidden; text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 40px;}  /* ie */
.notice2 li::before{
    content: '';
    width: 3px; height: 3px;
    background: #2f7fa6;
    position: absolute; left: 0; top: 8px;;
}
.notice2 a.more {position: absolute; right: 0; top: 2px; font-size: 10px; text-transform: uppercase;}

/* 블로그 1 */
.blog1 {margin-bottom: 15px; }
.blog1 img { width: 100%;}
.blog2 img { width: 100%;}


/* 이미지 슬라이드 */
.slider figure {position: relative; }
.slider figcaption {position: absolute; bottom: 0; left: 0;
width: 100%; padding: 20px;  box-sizing: border-box
 ;background-color: rgba(0,0,0,0.5);
color: #fff;
font-size: 18px;
}
.slider figcaption em { 
    display: block; font-weight: bold; font-size: 28px;
    text-transform: uppercase; font-family: 'Abel';
    opacity: 0; transform: translateX(50px);
    transition: all 0.8s 0.3s ease;
}
.slider .slick-active figcaption em {opacity: 1;transform: translateX(0);}

.slider figcaption span { 
    display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
    opacity: 0; transform: translateX(50px);
    transition: all 0.8s 0.3s ease;
}

.slider .slick-active figcaption span {opacity: 1;transform: translateX(0);}

.slider .slick-dots {display: block; width: 100%; text-align: center;}
.slider .slick-dots li { display: inline-block; width: 15px;height: 15px; margin: 5px;}
.slider .slick-dots li button {
    font-size: 0; line-height: 0; border: 0;
    display: block; width: 15px; height: 15px;
    cursor: pointer; background: #5dbfeb;
    border-radius: 50%;
}
.slider .slick-dots li.slick-active button {background: #2b91c8;}

.slider .slick-prev{
    position: absolute; left: 0; bottom: 0; z-index: 1000;
    display: inline-block; padding: 0 5px; background: #2b91c8; color: #fff;
    border: 0; border-radius: 3px; cursor: pointer;
}
.slider .slick-next{
    position: absolute; right: 0; bottom: 0; z-index: 1000;
    display: inline-block; padding: 0 5px; background: #2b91c8; color: #fff;
    border: 0; border-radius: 3px; cursor: pointer;
}


/* 라이트 박스 */
/* .lightbox a {float: left ;width: 19%; margin-right: 0.5%; } */

/* display: flex  여러개의 박스가 있을 때*/
/* .lightbox {display: flex; flex-wrap: wrap; justify-content: space-between;} 
.lightbox a {width: 19%;margin-bottom: 1%; }*/

/* display: grid  처음부터 레이아웃을 잡을때 */

.lightbox {display: grid;
    /* grid-template-columns:1fr 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;}
.lightbox a {}



/* 비디오 */
.video {position: relative; width: 100%;padding-bottom: 56.25%;}
.video iframe{position: absolute; width: 100%;height: 100%;}


/*  푸터  */
.footer {text-align: center; padding: 30px 50px;}
.footer li {position: relative;display: inline; padding: 0 7px 0 10px; white-space: nowrap;}
.footer li::before{ 
    content: '';
    width: 1px; height: 12px; background: #dbdbdb;
    position: absolute; left:0 ; top: 2px;
}
.footer li:first-child::before {width: 0;height: 0;}
.footer address {padding-top: 15px;}


/* side1 */
.side1 { }
.side1 figure { 
    background-image: linear-gradient(45deg, #874da2, #c43a30);
    transition: : all 0.6s;
    position: relative;
    overflow: hidden;
}
.side1 figure:hover {
    opacity: 0.6;
}

.side1 figure:before {
    position: absolute; content: "";
    width: 60px; height: 1px; background: #000;
    left: 50%; top: 50%; z-index: 1;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }
.side1 figure:after {
    position: absolute; content: "";
    width: 1px; height: 60px; background: #000;
    left: 50%; top: 50%; z-index: 1;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
  }

  .side1 figure img {transition: all 0.3s ease; }
  
  .side1 figure:hover img {opacity: 0.6; }
  
  .side1 figure:before {left: -20%; }
  
  .side1 figure:hover::before {left: 50%;}
  
  .side1 figure::after {top: -20%;}
  
  .side1 figure:hover:after {top: 50%;}


  /* side2 */
  .side2 {position: relative; perspective: 1000px; }
  .side2 .front { }
  .side2 .back {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }

  .side2 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(85, 84, 84, 0.4);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
  }
  .side2 figcaption h3 {
    font-size: 24px;
    padding-bottom: 5px;
    color: #fff;
  }
  .side2 figcaption p {
    font-size: 16px;
  }

  .side2 .front {
    transform: rotatey(0);
    transition: transform 0.6s ease;
    backface-visibility: hidden;
  }
  
  .side2:hover .front {
    transform: rotatey(180deg);
  }
  
  .side2 .back {
    transform: rotatey(-180deg);
    transition: transform 0.6s ease;
  }
  
  .side2:hover .back {
    transform: rotatey(0deg);
  }




/* side 3 */
.side3 {position: relative;}
.side3 .front {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    transform-style: preserve-3d;
}
.side3 .back {
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
}
.side3 figcaption {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) translatez(100px);
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    backface-visibility: hidden;
    color: #fff;
    padding: 1rem;
    white-space: nowrap;
}
.side3 figcaption h3 {
    font-size: 1.3rem;
    padding-bottom: 0.4rem;
    color: #fff;
}
.side3 .front {
    transform: rotatey(0);
    transition: transform 1s;
    backface-visibility: hidden;
}
.side3:hover .front {
    transform: rotatey(180deg);
}
.side3 .back {
    transform: rotatey(-180deg);
    transition: transform 1s;
    backface-visibility: hidden;
}
.side3:hover .back {
    transform: rotatey(0);
}

/* 미디어 쿼리 */   
@media(max-width: 1220px){
    .container {width: 100%;}
    .row { padding: 0 15px;}
    #contents .container { border: 0;}


    .lightbox {display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 8px;}
    .lightbox a:nth-child(5n) {display: none;}
}


@media(max-width: 1024px){
    .lightbox {display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 8px;}
    .lightbox a:nth-child(10) {display: block;}
}

@media(max-width: 960px){
    .nav > div {float: none; width: 100%; }
    .nav > div li {width: 33.3333%;}
    .nav > div:last-of-type { width: 100%;}
    .nav > div:last-of-type li { width: 33.3333%;}
    .nav > div ul {margin-bottom: 10px;}

    #cont-right {overflow: hidden; position: static; width: 100%; border-top: 1px solid #dbdbdb;}
    #cont-right .column {float: left; width: 33.33%; box-sizing: border-box;}
    #cont-right .column.col7{ border-right: 1px solid #dbdbdb; border-bottom: 0;}
    #cont-right .column.col8{ border-right: 1px solid #dbdbdb; border-bottom: 0;}
    #cont-center {margin-right: 0; border-right: 0;}

}    


@media(max-width: 768px){
    #cont-left { float: none ; width: 100%} 
    #cont-center { border-left: 0;}
}

@media(max-width: 600px){
    .header {height: auto;}
    .header .header-tit{display: none;}
    .header .header-icon{display: none;}

    .title .btn {display: none;}
    
    .nav > div li { width: 50%;}
    .nav > div:last-of-type li { width: 50%;} 
    .column.col1 .col-tit {display: none;}
    .column.col1 .col-desc { display: none;}
    .column.col1 {padding: 0; border-bottom: 0;}
    .column.col1 .menu li a i {display: none;}
    .column.col1 .menu ul {overflow: hidden;}
    .column.col1 .menu li {
        float: left; width: 33.333%; text-align: center; border-right: 1px solid #dbdbdb;
        box-sizing: border-box }
    .column.col1 .menu li a {color:  #fff ; text-shadow: 0 0 5px rgba(0,0,0,0.7)}
    .column.col1 .menu li a:hover{box-shadow: none; background: rgba(36,130,174,0.7)}
    .column.col1 .menu li:nth-child(3n) {border-right: 0;}
    .column.col2 {background: #fff;}

    .lightbox {display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;}
    .lightbox a:nth-child(9) {display: none;}

    #cont-right .column {width: 50%}
    #cont-right .column.col8{ border-right: 0;}
    #cont-right .column.col9{ display: none;}
}



@media(max-width: 320px){
    .lightbox {display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 8px;}
    #cont-right .column {width: 100%}
    #cont-right .column.col7{ border-right: 0; border-bottom: 1px solid #dbdbdb}
}





