/* 레이아웃 */
#header {
    z-index: 1000;
    position: fixed; left: 0; top:0;
    width: 100%;
}

/* 헤더 */
.header {
    display: flex;
    justify-content: space-between;

    h1{ 
        width: 140px; margin: 18px 0 0 20px;
        svg{
            fill:#fff;
            transition: all 0.5s;
            &:hover{
                fill: #000;
            }
        }
    }

    .nav {

        li {
            display: inline;
            }
 
        a {
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            padding: 26px 20px;
            display: inline-block;
            }


        li.live {
            a{
                padding: 4px 20px 6px 20px;
                border: 1px solid #fff;
                border-radius: 20px;
            }
        }
            


     }
    .side-nav { 
        padding-right: 40px;

        li { display: inline;

            a{
                padding: 27px 10px 20px 20px;
                display: inline-block;
                width: 25px;
            }
        }
    }
 }


/* 배너 */
#banner { 
    position: relative;
    .swiper-slide{

        h2{
            position: absolute; left: 50%; top: 50%;
            font-size: 83px; color: #fff;
            font-weight: 700;
            white-space: nowrap;
        }
    }
    .brn-quick{
        
        a{
            position: absolute; left: 50%; bottom: -25px;
            width: 50px;  height: 50px;
            z-index: 1000;
            margin-left: -25px;
            background: #96c11f;
            box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
            img{
                width: 30px;
                transform: rotate(-90deg); 
                padding-top: 20px 
            }
        }
    }
    .swiper-pagination{

        .icon-pause{
            position: absolute; left: 50%; top: 2px;
            margin-left: 78px;
            width: 30px;
        }
        .icon-play{
            position: absolute; left: 50%; top: 2px;
            margin-left: 78px;
            width: 30px;
        }
    }
}

/* 뉴스 */
#news {
    padding: 115px 0 150px 0;
    text-align: center;
    h2 {
        font-size: 60px;
        font-weight: 700;
        margin-bottom: 60px;
    }
    .swiper-slide:nth-child(even){
        margin-top: 100px;
    }
        .swiper-slide{
            width: 458px;
            &:hover a {display: block;}

            
            .info{ 
                text-align: left;
                padding: 30px 40px;
                h3 {
                    font-size: 20px;
                    color: #333;
                    margin-bottom: 20px;
                }
                time {
                    color: #999;
                    font-size: 14px;
                    margin-top: 20px;
                    
                }
                a {
                    position: absolute; right: 40px; bottom: 30px;
                    text-transform: uppercase;
                    color: #999;
                    padding-right: 40px;
                    display: none;
                    &::before {
                        content: '';
                        width: 30px;height: 2px; background: #ca0202;
                        position: absolute; right: 0px;top: 8px;
                    }
                    &::after {
                        content: '';
                        width: 6px;height: 6px; border-radius: 50%; 
                        background: #ca0202;
                        position: absolute; right: 0px;top: 6px;
                    }
                }
            }
            &:hover a {
            display: block;
            }
            
        }
    .notice-btn{
        font-size: 18px;
        color: #ca0202;
        border-radius: 30px;
        border: 1px solid #ca0202;
        padding: 10px 80px;
        margin-top: 80px;
        display: inline-block;
        font-weight: bold;
        &:hover{
            background: #ca0202;
            color: #fff;
            transition: 0.3s;
        }
        
    }

    
}


// news animation
#news h2 {opacity: 0; transform: translateY(100px); transition: all 0.6s ease;}
#news .swiper-wrapper .swiper-slide {opacity: 0; transform: translateY(100px); transition: all 1.3s ease; }

#news .notice-btn {display: inline-block;opacity: 0; }


#news.show h2 {opacity: 1; transform: translateY(0);}
#news.show .swiper-wrapper .swiper-slide {opacity: 1; transform: translateY(0); }
#news.show .notice-btn {opacity: 0;animation:bounceInLeft 0.6s 1.4s forwards}

@keyframes bounceInLeft {
    from,60%,75%,90%,
    to{animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
    0% {opacity: 0;transform: translate3d(-3000px, 0, 0) scaleX(3);}
    60% {opacity: 1;transform: translate3d(25px, 0, 0) scaleX(1);}
    75% {transform: translate3d(-10px, 0, 0) scaleX(0.98);}
    90% {transform: translate3d(5px, 0, 0) scaleX(0.995);}
    to {opacity: 1;transform: translate3d(0, 0, 0);}
  }

// intro

#intro {
    h2{
        font-size: 60px;
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 60px;
        text-align: center;
        z-index: 10;
        position: relative;
    }
}
.intro{
    text-align: center;
    padding-bottom: 100px;
        .intro-img{
            margin: -5% 5% 0 5%;
        }
        .intro-intro{
            display: flex;
            justify-content: space-between;
            width: 1200px;
            margin: 0 auto;



            div{
                padding: 45px 20px;
                box-sizing: border-box;
                flex-basis: 31%;
                border-top: 2px solid #d70000;
                text-align: center;

                h3{
                font-size: 24px;
                font-weight: 600;
                padding-bottom: 30px;
                }
                p{
                font-size: 23px;
                color: #454545;
                }
            }
        }
        .intro-btn{
            font-size: 18px;
            color: #ca0202;
            border-radius: 30px;
            border: 1px solid #ca0202;
            padding: 10px 80px;
            margin-top: 80px;
            display: inline-block;
            font-weight: bold;
            &:hover{
                background: #ca0202;
                color: #fff;
                transition: 0.3s;
            }
            
        }
}


/* intro Animation */
#intro h2 {opacity: 0; transform: translateY(100px); transition: all 0.6s ease;}
#intro .intro .intro-img {opacity: 0; transform: translateY(100px); transition: all 0.6s ease;}
#intro .intro-intro > div:nth-child(1) {opacity: 0;transform:translateY(100px); transition: all 0.6s 0.2s ease }
#intro .intro-intro > div:nth-child(2) {opacity: 0;transform:translateY(100px); transition: all 0.6s 0.4s ease }
#intro .intro-intro > div:nth-child(3) {opacity: 0;transform:translateY(100px); transition: all 0.6s 0.6s ease }
#intro .intro-btn {display: inline-block;opacity: 0; }


#intro.show h2 {opacity: 1; transform: translateY(0);}
#intro.show .intro .intro-img {opacity: 1; transform: translateY(0);}


#intro.show .intro div:nth-child(1) {opacity: 1;transform:translateY(0px) }
#intro.show .intro div:nth-child(2) {opacity: 1;transform:translateY(0px) }
#intro.show .intro div:nth-child(3) {opacity: 1;transform:translateY(0px) }
#intro.show .intro-btn {opacity: 1;animation:bounceInLeft 0.6s 1.4s forwards}

@keyframes bounceInLeft {
    from,60%,75%,90%,
    to{animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
    0% {opacity: 0;transform: translate3d(-3000px, 0, 0) scaleX(3);}
    60% {opacity: 1;transform: translate3d(25px, 0, 0) scaleX(1);}
    75% {transform: translate3d(-10px, 0, 0) scaleX(0.98);}
    90% {transform: translate3d(5px, 0, 0) scaleX(0.995);}
    to {opacity: 1;transform: translate3d(0, 0, 0);}
  }
 
/* story */
#story {
    background: #f6f6f6;
    padding-top: 100px;
    padding-bottom: 500px;
    height: 500px;
    h2 {
        font-size: 60px;
        line-height: 1.1;
        font-weight: 700;
        margin-bottom: 200px;
        text-align: center;
        position: relative;
        z-index: 10;
    }
    .story-btn{
        font-size: 18px;
        color: #ca0202;
        border-radius: 30px;
        border: 1px solid #ca0202;
        padding: 10px 80px;
        margin-top: 80px;
        display: inline-block;
        font-weight: bold;
        margin-left: 820px;
        margin-top: 200px;
        &:hover{
            background: #ca0202;
            color: #fff;
            transition: 0.3s;
        }
        
    }
}

.story {
    position: relative;

    .story-frame {
        width: 300px; height: 600px; border: 10px solid #000;
        position: absolute; left: 50%; top: -40%;
        transform: translateX(-50%);
        z-index: 1;
        border-radius: 40px;
    }
    .swiper-slide {
        width: 340px;

        .simg {
            width: 263px; height: 263px;
            background: #000;
            margin: 0 auto;
        }
        .stxt {
            text-align: left;
            padding-left: 40px;
            margin-top: 20px;

            h3 {font-size: 20px;}

            span {
                display: block;    
                padding-top: 30px;
            }
        }
    }

    @for $i from 1 through 30 {
        .swiper-slide:nth-child(#{$i}) {
           .simg {background: url(../icons/img/tbanner#{$i}.jpg) no-repeat center center; background-size: cover;}
        }
      }
}

/* story animation*/
#story h2 {opacity: 0; transform: translateY(100px); transition: all 0.6s ease;}
#story .swiper-slide {opacity: 0; transform: translateY(100px); transition: all 1.0s ease; }
// .story .story-frame {opacity: 0; transform: translateY(100px); transition: all 1.0s ease; }
#story .story-btn { display: inline-block;opacity: 0;}



#story.show h2 {opacity: 1; transform: translateY(0);}
#story.show .swiper-slide {opacity: 1; transform: translateY(0); }
// #story.show .story .story-frame {opacity: 1; transform: translateY(0);  }

#story.show .story-btn {opacity: 0;animation:bounceInLeft 0.6s 1.4s forwards}

@keyframes bounceInLeft {
    from,60%,75%,90%,
    to{animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
    0% {opacity: 0;transform: translate3d(-3000px, 0, 0) scaleX(3);}
    60% {opacity: 1;transform: translate3d(25px, 0, 0) scaleX(1);}
    75% {transform: translate3d(-10px, 0, 0) scaleX(0.98);}
    90% {transform: translate3d(5px, 0, 0) scaleX(0.995);}
    to {opacity: 1;transform: translate3d(0, 0, 0);}
  }

#world { 
    padding: 100px 0;
    background: url(../icons/img/world.png) no-repeat center top 220px;
    h2 {
        font-size: 60px;
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 60px;
        text-align: center;
        z-index: 10;
        position: relative;
    }

.world {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    padding: 370px 0 289px 0;
    
    div {
        padding: 30px 20px;
        flex-basis: 30%;
        box-sizing: border-box;
        text-align: center;
        position: relative;
        border-top: 2px solid #d70000;
        h3{
            width: 200px; height: 200px;
            background: rgba(0,0,0,0.5);
            border-radius: 50%;
        }
        .font {
            position: absolute; left: 90px; top: -250px;
            color: #fff;
            font-size: 24px;
            margin: 0 auto;
        }

        p {
            font-size: 22px;
            color: #fff;
            width: 350px;
            
        }
    }
}
.world > div:nth-child(3) div.world-info h3 {
    margin: 10px 0;
} 
.world-btn{
    font-size: 18px;
    color: #ca0202;
    border-radius: 30px;
    border: 1px solid #ca0202;
    padding: 10px 80px;
    margin-top: 80px;
    display: inline-block;
    font-weight: bold;
    margin-left: 820px;
    
    &:hover{
        background: #ca0202;
        color: #fff;
        transition: 0.3s;
    }
    
}
}

/* // world */
/*  world Animation */
#world h2 {opacity: 0;transform: translateY(100px);; transition: all 0.6s ease ;}


#world .world div:nth-child(1) {opacity: 0;transform:translateY(100px); transition: all 0.8s 0.6s ease }
#world .world div:nth-child(2) {opacity: 0;transform:translateY(100px); transition: all 0.8s 0.8s ease }
#world .world div:nth-child(3) {opacity: 0;transform:translateY(100px); transition: all 0.8s 1.0s ease }

#world .world-btn { display: inline-block;opacity: 0;}



#world.show h2{opacity: 1;transform: translateY(0px) }


#world.show .world div:nth-child(1) {opacity: 1;transform:translateY(0px) }
#world.show .world div:nth-child(2) {opacity: 1;transform:translateY(0px) }
#world.show .world div:nth-child(3) {opacity: 1;transform:translateY(0px) }


#world.show .world-btn {opacity: 1;animation:bounceInLeft 0.6s 1.4s forwards}

@keyframes bounceInLeft {
    from,60%,75%,90%,
    to{animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
    0% {opacity: 0;transform: translate3d(-3000px, 0, 0) scaleX(3);}
    60% {opacity: 1;transform: translate3d(25px, 0, 0) scaleX(1);}
    75% {transform: translate3d(-10px, 0, 0) scaleX(0.98);}
    90% {transform: translate3d(5px, 0, 0) scaleX(0.995);}
    to {opacity: 1;transform: translate3d(0, 0, 0);}
  }



#brand {
    height: 1350px;

    h2{font-size: 60px;
        line-height: 1.3;
        font-weight: 700;
        margin-bottom: 60px;
        text-align: center;
        z-index: 10;
        position: relative;}
    .mbrand{ 
        background: url(../img/banner02.jpg) no-repeat center;
        height: 600px;
        
        .bbrand{ 
            
            color: #fff;
            font-size: 100px;
            font-weight: bold;
            padding: 220px 80px;
            
        }
    }
.nun { background: #f6f6f6;height: 620px;}
    .brand{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 1200px;
        margin: 0 auto;
        padding-top: 100px;

        div{
            margin-top: 30px;
            margin-bottom: 30px;
            h4{
                
                box-sizing: border-box;
                flex-basis: 20%;
                border-top: 2px solid #d70000;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
            }
                figure{
                    

                    .one{
                        width: 200px; height: 200px;
                        background: #ffffff;
                        border-radius: 50%;
                    }

                    figcaption{
                        font-size: 20px;
                        text-align: center;
                    }
                }
            
        }
    }
    .bland-btn{
        font-size: 18px;
        color: #ca0202;
        border-radius: 30px;
        border: 1px solid #ca0202;
        padding: 10px 80px;
        margin-top: 20px;
        display: inline-block;
        font-weight: bold;
        margin-left: 820px;
        &:hover{
            background: #ca0202;
            color: #fff;
            transition: 0.3s;
        }
        
    }
}
// brand animation
#brand h2 {opacity: 0;transform: translateY(100px);; transition: all 0.6s ease ;}
// #brand .mbrand {opacity: 0;transform: translateY(100px);; transition: all 0.6s ease ; }
#brand .mbrand {opacity: 0;transform: translateY(100px); transition: all 0.6s ease ;}
// #brand .mbrand .bbrand { display: inline-block;opacity: 0;  }
#brand .brand > div:nth-child(1) {opacity: 0;transform:translateY(100px); transition: all 0.8s 0.4s ease }
#brand .brand > div:nth-child(2) {opacity: 0;transform:translateY(100px); transition: all 0.8s 0.6s ease }
#brand .brand > div:nth-child(3) {opacity: 0;transform:translateY(100px); transition: all 0.8s 0.8s ease }
#brand .brand > div:nth-child(4) {opacity: 0;transform:translateY(100px); transition: all 0.8s 1s ease }
#brand .bland-btn { display: inline-block;opacity: 0; }

#brand.show h2{opacity: 1;transform: translateY(0px) }
#brand.show .mbrand{opacity: 1;transform: translateY(0px)}

#brand.show .brand div:nth-child(1) {opacity: 1;transform:translateY(0px) }
#brand.show .brand div:nth-child(2) {opacity: 1;transform:translateY(0px) }
#brand.show .brand div:nth-child(3) {opacity: 1;transform:translateY(0px) }
#brand.show .brand div:nth-child(4) {opacity: 1;transform:translateY(0px) }


#brand.show .bland-btn {opacity: 1;animation:bounceInLeft 0.6s 1.4s forwards}

@keyframes bounceInLeft {
    from,60%,75%,90%,
    to{animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
    0% {opacity: 0;transform: translate3d(-3000px, 0, 0) scaleX(3);}
    60% {opacity: 1;transform: translate3d(25px, 0, 0) scaleX(1);}
    75% {transform: translate3d(-10px, 0, 0) scaleX(0.98);}
    90% {transform: translate3d(5px, 0, 0) scaleX(0.995);}
    to {opacity: 1;transform: translate3d(0, 0, 0);}
  }
// #brand .mbrand .bbrand {animation:bounceInLeft 0.6s 1.4s forwards}

// @keyframes bounceInLeft {
//     from,60%,75%,90%,
//     to{animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);}
//     0% {opacity: 0;transform: translate3d(-3000px, 0, 0) scaleX(3);}
//     60% {opacity: 1;transform: translate3d(25px, 0, 0) scaleX(1);}
//     75% {transform: translate3d(-10px, 0, 0) scaleX(0.98);}
//     90% {transform: translate3d(5px, 0, 0) scaleX(0.995);}
//     to {opacity: 1;transform: translate3d(0, 0, 0);}
//   }




#footer {
    background: #555;
    height: 300px;
        .footer
        {   display: flex;
            justify-content: space-around;
            width: 1200px;
            margin: 0 auto;
            height: 300px;
            text-align: center;
            div{
                // flex-basis: 30%;
                width: 30%;
                padding-top: 50px;
            }
        .f1 {

            h4{
                font-size: 20px;
                color: #999;
            }
            h2{
                color: #fff;
                font-size: 60px;
            }
            h3{
            color: #fff;
            font-size: 20px;
            padding-top: 10px;
            

            span{ 
                position: relative;
                    &::before{
                        content: '';
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-bottom: 10px solid #e65100;
                        position: absolute; left: -20px;top: 10px;
                    }
                }
            }
        }
        .f2 {
            border-left: 2px solid #616161;
            border-right: 2px solid #616161;
            h4{
                color: #fff;
                font-size: 20px;
            }
            h3{
                color: #ccc;
                font-size: 16px;
            }
            img {
            width: 100px;
             
            }
         }
        .f3 {
            h4{
                font-size: 20px;
                color: #fff;
            }
            h3{
                color: #ccc;
                font-size: 16px;
            }
         
            img{
                width: 100px;
            }
        }
        }

}


.footer2{
    .cont{
        width: 1200px;
        margin: 0 auto;
        overflow: hidden;
        .left{
            width: 900px;
            float: left;

            .ff1{
                &::before{
                    content: "";
                    display: block;
                    position: absolute;
                    top: 4px;
                    left: 0;
                    width: 5px;
                    height: 12px;
                    border-left: 1px solid #ddd;
                    position: absolute; left: 0;top: 0;
                }
            }
            ul{


            li {margin: 10px;
                display: inline-block
            }
        }
        }
        .right{
            width: 300px;
            float: right;
            p { width: 200px;height: 25px;border-radius: 20px; background: #fff;
            ;color: #000;margin: 20px 0; border: 3px solid #dbdbdb;
            position: relative;
                span{
                      content: '';
                        width: 0;
                        height: 0;
                        border-left: 5px solid transparent;
                        border-right: 5px solid transparent;
                        border-top: 10px solid black;
                        position: absolute; left: 180px;top: 5px;
                }}
            ul{
                
                li{
                    
                    display: inline-block
                }
            }
        }
    }
}

.left .fff { color: #96c11f; font-weight: bold;}
.left .qqq { color: #e65100; font-weight: bold;}
.pl {padding-left: 10px;}


.world .p8 {margin-top: 60px; display: inline-block;}
.world div span { margin-top: 80px; display: inline-block; font-weight: bold;}